
@charset "ISO-8859-1";
body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	background:url("/image/login.jpg") no-repeat center center fixed;
	background-size:cover;
}



.login-box{
	width:280px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:white ;
}


.card{
	padding:40px;
    background-color: rgba(52,58,64,0.75);
    
}
a{
	color:white;
}

.error{
	color:red;
}

.reg-bg{
	margin:0;
	padding:0;
	font-family:sans-serif;
	background:url("/image/reg2.jpg") no-repeat center center fixed;
	background-size:cover;
}

.reg-box{
	width:280px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:white ;
	
}
.card .btn{
	float:right;
	margin-top:20px;
	padding:10px;
	border-radius:1.5rem;
}
